.calendercontainer {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1200px;
    height: 640px;
}
